/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.2;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* General Styles */
html {
  color: #EEEFDA;
  font-size: 16px;
  line-height: 1.4;
}

body {
  margin-left: 4%;
  background-color: #152A3E;
}

h1 {
  font-size: 2.5em;
  font-family: 'lexand tera', sans-serif;
}

h2 {
  font-size: 2.25em;
  text-align: center;
  font-family: 'lexand tera', sans-serif;
}

h3{
  font-size: 1.75em;
  font-family: 'lekton', serif;
}

p {
  font-size: 1.15em;
  font-family: 'lekton', serif;
}

li {
  font-size: 1.15em;
  font-family: 'lekton', serif;
}

a {
  font-family: 'lekton', serif;
  color: #CAC691
}

.wrapper {
  width: 96%;
}

img {
  width: 100%;
}

span {
  font-weight: bolder;
}

/* Mobile */
header nav {
  padding: 30px 0;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  color: #CAC691;
  margin: 0;
}

.intro {
  padding: 40px 0;
}

.intro h1 {
  margin: 0;
}

.intro h3 {
  padding-top: 30px;
  margin: 0;
  line-height: 1.2;
}

#about figure {
  text-align: center;
}

#about img {
  border-radius: 50%;
  padding: 15px 0;
  height: 200px;
  width: 200px;
}

#skills {
  padding-bottom: 30px;
}

#projects {
  padding: 40px 0;
}

#projects h2 {
  margin: 0;
  padding: 40px 0;
}

#projects article {
  border: 4px #E9B14C;
  margin-bottom: 80px;
}

#projects img {
  border-radius: 5%;
}

#projects h3 {
  text-align: center;
}

.live-page {
  color: #152A3E;
  font-size: 1.15em;
  border: 1px;
  padding: 10px;
  border-radius: 5%;
  background-color: #CAC691;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.live-page p {
  text-align: center;
}

#projects .nametag, #projects .unplugged, #projects .guess, #projects .sticky {
  margin-bottom: 40px;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icons p i {
  font-size: 1.75em;
}

#contact p {
  text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports that meet the condition */
  header nav ul {
    justify-content: right;
  }

  header nav ul li {
    padding-left: 30px;
  }

  #about h2 {
    padding-right: 20px;
  }

  #about figure {
    text-align: center;
  }

  #about img {
    border-radius: 50%;
    padding: 15px 0;
    width: 300px;
    height: 300px;
    text-align: center;
  }
  
  #skills {
    display: flex;
    padding-bottom: 0;
  }
    
  #skills article {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #skills .tools {
    margin-right: 150px;
  }
    
  #projects {
    display: flex;
  }
    
  #projects .four-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
    
  #projects article {
    width: 45%;
    padding: 0 15px;
  }
    
  #projects img {
    height: 200px;
  }

  .icons {
    display: flex;
    justify-content: center;
  }

  .icons p {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1200px) {
  /* Style adjustments for viewports that meet the condition */
  header nav {
    padding: 80px 80px 80px 0;
  }

  header nav ul li {
    padding-right: 30px;
  }

  .intro {
    padding: 0 0 80px 80px;
  }

  #about {
    padding: 0 0 0 80px;
   }

   #about h2 {
    padding-right: 120px;
   }
 
  #about .wrapper {
  display: flex;
  flex-direction: row-reverse;
 }

 #about figure, #about .about-text {
  width: 50%;
 }

 #about article {
  display: flex;
 }

 #skills {
  display: flex;
  padding-left: 80px;
 }

 #skills h2 {
  padding-right: 100px;
 }

 #skills article {
  display: flex;
 }

 #skills .tools {
  width: 40%;
 }

 #projects {
  display: flex;
  padding: 80px 80px 80px 80px;
 }

 #projects .four-projects {
  display: flex;
 }

 #projects article {
  width: 46%;
 }
 
 #projects img {
  height: 300px;
 }

 #projects .guess .live-page {
  margin-top: 65px;
 }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

